# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Database
*.sqlite3

# Media & recordings
media/
audio_recordings/
*.jpg
*.png
*.wav

# ML models (very large)
*.h5
*.pkl

# Flutter build
build/
.metadata